body {
    font-family: 'Quicksand', sans-serif;
    background-color: darkcyan;
    margin: 0 auto;
    color: lightcyan;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin: 4rem 0;
}

a {
    color: inherit;
    decoration: none;
}

th {
    text-align:center;
}

.container {
    max-width: 800px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: darkcyan;
    text-align: center;
    padding: 2rem 0;
    background-color: #fefffe;
    border-radius: 0 0 15px 15px;
    margin-bottom: 2rem;
}

.nav-item {
    font-size: 18px;
    color: lightcyan;
    letter-spacing: 1px;
}
.nav-item:hover {
    font-weight: 600;
    color: darkcyan;
}

.nav-tabs-border-color {
    color: lightcyan;
}

.table {
    color: #666666;
    background-color: white;
    border-radius: 10px;
}

.table-header {
    color: darkcyan;
    text-align: center;
}