{% if show_mag_type %}
<div class="align-right my-3">
    <a target="_blank" href={{ url_for("magnitude_type") }}>
        <i class="fa-solid fa-circle-info"></i>
        What is Magnitude Type?
    </a>
</div>
<div class="align-right">{{cnt}} records.<div>
{% endif %}
<table class="table align-middle my-3">
    <thead class="table-header">
    <tr>
        <th scope="col">Time</th>
        <th scope="col">Depth</th>
        <th scope="col">Magnitude</th>
        <th scope="col">Magnitude Type</th>
        <th scope="col">Place</th>
        <th scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td class="bold">{{row["time"]}}</td>
        <td>{{row['depth']}}</td>
        <td>{{row['mag']}}</td>
        <td>{{row['magType']}}</td>
        <td>{{row['place']}}</td>
        <td>{{row['name']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>