{% extends 'base.html' %}
{% block page_content %}
<h1>Earthquakes occur all over the world everyday</h1>
<div class="align-center">
    <img src="/static/image/city.png" width="600"/>
    <p>
        I experienced a massive earthquake with magnitude 9.0 in <b>Japan, 11th March 2011</b>.<br/>
        Many people died not from the earthquake but from the tsunami caused by it. Nuclear power plants also lost
        control and were in danger of meltdown.
        Public services were shut down, electricity was in short supply, food was not available in supermarkets, and
        such conditions persisted for a while even in my country, which is a developed country.
    </p>
    <p>
        And most recently, on <b>6th February 2023</b>, magnitude 7.5 earthquake hit <b>Turkey</b>.<br/>
        It caused damage to buildings and many casualties.
        There are 290 aftershocks of magnitude 4.0 or higher had been recorded in Turkey by 21th Febrary.
    </p>
    <iframe width="660" height="370" src="https://www.youtube.com/embed/mk68bZ701s0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
    <p>
        Earthquakes can happen suddenly and anywhere in the world. How often do you think earthquakes actually occur in
        the world today? You can find it on this website. This website displays the data of earthquakes that occurred
        within a <b>19day, 1st to 19th February 2023.</b><br/>
        The data is from open source; <a target="_blank" href="https://earthquake.usgs.gov/earthquakes/feed/">USGS
        Earthquake Hazards Program</a>.
    </p>
    <img src="/static/image/pegion.png" width="400"/>
</div>
{% endblock %}