{% extends "base.html" %}
{% block page_content %}
<h1>Search Data by Conditions</h1>
<form action="/search" method="post" id="search" class="row">
    <div class="col-sm-6">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" class="form-control" placeholder="Japan / Turkey / Alaska ...">
    </div>
    <div class="col-sm-6">
        <label for="source">Source</label>
        <select id="source" name="source" class="form-control">
            <option value=''>All</option>
            {% for source in sources %}
            <option value={{source.id}}>{{source.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-6 my-4">
        <div class="row">
            <div class="col-sm-5">
                <label for="min-mag">Min Magnitude</label>
                <select id="min-mag" name="min-mag" class="form-control">
                    {% for i in range(0,8) %}
                    <option value={{i}}>{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <label for="max-mag">Max Magnitude</label>
                <select id="max-mag" name="max-mag" class="form-control">
                    {% for i in range(1,9) %}
                    <option value={{9-i}}>{{9-i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-4">
        <label for="mag-type">Magnitude Type</label>
        <select id="mag-type" name="mag-type" class="form-control">
            <option value=''>All</option>
            {% for type in mag_types %}
            <option value={{type.id}}>{{type.id}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-5">
                <label for="min-depth">Min Depth</label>
                <select id="min-depth" name="min-depth" class="form-control">
                    {% for i in range(0,7) %}
                    <option value={{i*100}}>{{i*100}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-5">
                <label for="max-depth">Max Depth</label>
                <select id="max-depth" name="max-depth" class="form-control">
                    {% for i in range(1,8) %}
                    <option value={{(8-i)*100}}>{{(8-i)*100}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <label for="order">Order By</label>
        <select id="order" name="order" class="form-control">
            <option value='time asc'>Datetime - Asc</option>
            <option value='time desc'>Datetime - Desc</option>
            <option value='mag asc'>Magnitude - Asc</option>
            <option value='mag desc'>Magnitude - Desc</option>
            <option value='depth asc'>Depth - Asc</option>
            <option value='depth desc'>Depth - Desc</option>
        </select>
    </div>
    <div class="align-center">
        <input type="submit" class="btn btn-lg btn-warning my-6" value="Search">
    </div>
</form>
{% if rows %}
{% with rows = rows %}
{% include 'earthquake_table.html' %}
{% endwith %}
{% endif %}
{% endblock %}