{% extends "base.html" %}
{% block page_content %}
<h1>Search Data by Conditions</h1>
<form action="/search" method="post" id="search" class="row">
    <div class="col-sm-6">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" class="form-control" placeholder="Japan / Turkey / Alaska ...">
    </div>
    <div class="col-sm-6">
        <label for="source">Source</label>
        <select id="source" name="source" class="form-control" aria-label="Source">
            <option value=''>All</option>
            {% for source in sources %}
            <option value={{source.id}}>{{source.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="align-center">
        <input type="submit" class="btn btn-lg btn-warning my-4" value="Search">
    </div>
</form>
{% if rows %}
{% with rows = rows %}
{% include 'earthquake_table.html' %}
{% endwith %}
{% endif %}
{% endblock %}